@model CarWashPOI.ViewModels.Locations.AddLocationViewModel

@{
    ViewData["Title"] = "ДОБАВИ НОВА ЛОКАЦИЯ";
}

<h6 class="text-secondary my-2 text-center">Намерете локацията на картата и я отбележете като кликнете с мишката, след това попълнете формата по-долу.</h6>
<div class="text-center mb-2">
    <span asp-validation-for="Latitude" class="text-danger"></span>
</div>
<div id="map" class="mb-4"></div>

<div class="col-md-4 mx-auto justify-content-center text-center">
    <hr />
    <form asp-controller="Locations" asp-action="Add" enctype="multipart/form-data" method="post">
        <input id="latitude" asp-for="@Model.Latitude" hidden />
        <input id="longitude" asp-for="@Model.Longitude" hidden />
        <div class="form-group">
            <label asp-for="@Model.LocationTypeId"></label>
            <select asp-for="@Model.LocationTypeId" class="custom-select">
                <option value="" selected></option>
                @foreach (var locationType in Model.AllLocationTypes)
                {
                    <option value="@locationType.Id">@locationType.Type</option>
                }
            </select>
            <span asp-validation-for="LocationTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description"></label>
            <textarea asp-for="@Model.Description" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TownId"></label>
            <select asp-for="@Model.TownId" class="custom-select">
                <option value="" selected></option>
                @foreach (var town in Model.AllTowns)
                {
                    <option value="@town.Id">@town.Name</option>
                }
            </select>
            <span asp-validation-for="TownId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Neighbourhood"></label>
            <input asp-for="@Model.Neighbourhood" class="form-control" />
            <span asp-validation-for="@Model.Neighbourhood" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Street"></label>
            <input asp-for="@Model.Street" class="form-control" />
        </div>
        <label asp-for="@Model.Image"></label>
        <div class="custom-file">
            <input asp-for="@Model.Image" type="file" id="customFile" class="custom-file-input">
            <label id="customFileLabel" class="custom-file-label" for="customFile">Избери файл</label>
        </div>
        <p class="text-muted mt-3">(полетата отбелязани с * са задължителни)</p>
        <button type="submit" class="btn btn-success mt-2">ДОБАВИ ЛОКАЦИЯТА</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="MapIncludesPartial" />
    <partial name="AddLocationMapJsPartial" />
    <partial name="UpdateFileUploadLabelJsPartial" />
}