@model CarWashPOI.ViewModels.Locations.LocationDetailsOutputModel
@using System.Globalization;
@{
    ViewData["Title"] = "LocationDetails";
}

<div id="map" class="mb-4"></div>
<input type="hidden" id="locationId" value="@Model.Id">
<h4 class="text-center mx-auto">@Model.Title</h4>
<div class="row justify-content-center text-center mw-100 mx-auto">
</div>
<div class="row justify-content-center text-center mw-100">
    <div class="card border-success m-3 col-md-4 p-0" style="max-width: 20rem;">
        <div class="card-header p-1">ОЦЕНКА</div>
        <div class="card-body p-1">
            <h4 class="card-title">
                <button id="positiveRating" class="btn btn-success btn-sm mr-2">+ @Model.Rating.Positives</button>
                /
                <button id="negativeRating" class="btn btn-danger btn-sm ml-2">- @Model.Rating.Negatives</button>
            </h4>
        </div>
    </div>
    <div class="card border-success m-3  col-md-4 p-0" style="max-width: 20rem;">
        <div class="card-header p-1">ТИП</div>
        <div class="card-body p-1">
            <h4 class="card-title">@Model.Type</h4>
        </div>
    </div>
    <div class="card border-success m-3 col-md-4 p-0" style="max-width: 20rem;">
        <div class="card-header p-1">ГРАД</div>
        <div class="card-body p-1">
            <h4 class="card-title">@Model.Address.Town</h4>
        </div>
    </div>

    @if (Model.Address != null && Model.Address.Neighbourhood != null)
    {
        <div class="card border-success m-3 col-md-4 p-0" style="max-width: 20rem;">
            <div class="card-header p-1">РАЙОН</div>
            <div class="card-body p-1">
                <h4 class="card-title">@Model.Address.Neighbourhood</h4>
            </div>
        </div>
    }
    @if (Model.Address != null && Model.Address.Street != null)
    {
        <div class="card border-success m-3 col-md-4 p-0" style="max-width: 20rem;">
            <div class="card-header p-1">АДРЕС</div>
            <div class="card-body p-1">
                <h4 class="card-title">@Model.Address.Street</h4>
            </div>
        </div>
    }

    <div class="card border-success m-3 col-md-4 p-0" style="max-width: 20rem;">
        <div class="card-header p-1">ДОБАВЕНА</div>
        <div class="card-body p-1">
            <h4 class="card-title">@Model.AddedOn</h4>
        </div>
    </div>
</div>

@if (Model.Description != null)
{
    <div class="row justify-content-center text-center mw-100 font-italic mb-4">
        <h4>@Model.Description</h4>
    </div>
}

@if (Model.ImageUrl != null)
{
    <div class="row justify-content-center text-center mw-100 mb-3">
        <img class="border border-success rounded w-50" src="@Model.ImageUrl" />
    </div>
}

<div id="commentSuccess" class="row justify-content-center mw-100">
    @if (TempData["CommentSuccess"] as bool? == true)
    {
        <div class="alert alert-dismissible alert-success col-md-4 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Коментарът е добавен успешно.
        </div>
    }
</div>

<div id="comments" class="row mw-100 justify-content-center">

    @foreach (var comment in Model.Comments)
    {
        <div class="col-md-4 toast show m-3">
            <div class="toast-header">
                <strong class="mr-auto">@comment.Author</strong>
                <small>@comment.LastModified</small>
            </div>
            <div class="toast-body">
                @comment.Content
            </div>
        </div>
    }

</div>
<form asp-controller="Comments" asp-action="CommentLocation" method="post">
    <div class="row mw-100 justify-content-center text-center mt-3">
        <div class="form-group col-md-4">
            <input type="hidden" name="locationId" value="@Model.Id">
            <label class="text-muted">Добави коментар</label>
            <textarea name="comment" class="form-control mb-3" rows="3"></textarea>
            <button type="submit" class="btn btn-secondary btn-sm">Коментирай</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="MapIncludesPartial" />
    <partial name="LocationDetailsMapJsPartial" />
    <partial name="RateLocationJsPartial" />
}
