@model CarWashPOI.Areas.Administration.ViewModels.AdministrationIndexOutputModel
@{
    ViewData["Title"] = "Администрация";
}

<h1 class="text-center mx-auto my-3">@ViewData["Title"]</h1>

<div class="row justify-content-center mw-100">
    @if (TempData["articleApproved"] as bool? == true)
    {
        <div class="alert alert-dismissible alert-success col-md-4 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Статията беше одобрена успешно.
        </div>
    }
    @if (TempData["articleDeleted"] as bool? == true)
    {
        <div class="alert alert-dismissible alert-success col-md-4 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Статията беше изтрита успешно.
        </div>
    }
    @if (TempData["locationApproved"] as bool? == true)
    {
        <div class="alert alert-dismissible alert-success col-md-4 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Локацията беше одобрена успешно.
        </div>
    }
    @if (TempData["locationDeleted"] as bool? == true)
    {
        <div class="alert alert-dismissible alert-success col-md-4 text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Локацията беше изтрита успешно.
        </div>
    }
</div>
<div class="row justify-content-center mx-auto">
    <div class="col-md-4">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Локации за одобрение</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LocationsForApproval.Count() == 0)
                {
                    <tr class="table-default">
                        <th scope="row">Няма резултати.</th>
                        <td></td>
                    </tr>
                }

                @foreach (var location in Model.LocationsForApproval)
                {
                    <tr class="table-default">
                        <th scope="row">@location.Title</th>
                        <td><a asp-area="Administration" asp-controller="Locations" asp-action="ForApproval" asp-route-id="@location.Id" class="btn btn-primary">Отвори</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Статии за одобрение</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ArticlesForApproval.Count() == 0)
                {
                    <tr class="table-default">
                        <th scope="row">Няма резултати.</th>
                        <td></td>
                    </tr>
                }

                @foreach (var article in Model.ArticlesForApproval)
                {
                    <tr class="table-default">
                        <th scope="row">@article.Title</th>
                        <td><a asp-area="Administration" asp-controller="Articles" asp-action="ForApproval" asp-route-id="@article.Id" class="btn btn-primary">Отвори</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>